<div class="row">
    <aside class="col-md-4">
        <section class="person_info">
            <%= render 'shared/person_info' %>
        </section>
        <section class="stats">
            <%= render 'shared/stats' %>
        </section>
    </aside>
    <div class="col-md-4">
        <h3>Personal Note</h3>
        <section class="note_form">
            <%= render 'shared/note_form' %>
        </section>
        <h3>Past Notes</h3>
            <%= render 'shared/notes' %>
    </div>
    <div class="col-md-4">
        <h3>Public Post</h3>
        <section class="micropost_form">
            <%= render 'shared/micropost_form' %>
        </section>
        <h3>Post Feed</h3>
        <%= render 'shared/feed' %>
    </div>
</div>